/* Remember to download Noto Sans and Montserrat fonts from Google Fonts: https://fonts.google.com/ */

:root{
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.extra-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

body{
    width: 100%;
}

.text-image-section{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 3em 3em;
    position: relative;
    width: 100%;
}
.text-image-section:nth-child(odd){
    flex-direction: row-reverse;
}
.text-image-section:nth-child(even){
    background-color: rgb(218, 218, 218);
}
#chillin{
    padding: 2em;
    background-color:rgb(218, 218, 218) ;
}
footer{
    background-color: rgb(31, 31, 31);
    
}
.link-utili{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.button1{
background-color: 255 255 255;
border-radius: 10;
}
.button2{
    
}