/* Remember to download Noto Sans and Montserrat fonts from Google Fonts: https://fonts.google.com/ */

:root{
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.extra-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body{
    width: 100%;
}

.text-image-section{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 5em 5em;
    position: relative;
    width: 100%;
}
.text-image-section:nth-child(odd){
    flex-direction: row-reverse;
}
.text-image-section:nth-child(even){
    background-color: rgb(218, 218, 218);
}
.text-image-section>img{
width: auto; height: 200px; 
}
#chillin{
    padding: 2em;
    background-color:rgb(218, 218, 218) ;
}





footer{
    width: 100%;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 30px;
}
footer nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}







.button1{
background-color: 255 255 255;
border-radius: 20px 20px 20px 20px;
padding: 10px;
}
.button2{
    background-color: 255 255 255;
    border-radius: 20px 20px 20px 20px;
padding: 10px;
}
.button3{
    background-color: 31 31 31;
    border-radius: 20px 20px 20px 20px;
padding: 10px;
}
.button4{
background-color:#5865f2;
border-radius: 20px 20px 20px 20px;
padding: 10px 20px;
}
.button5{
   
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
}


.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;

}
.link-utili: :first-child{
    gap: 30
}
.foot{
display: flex;
flex-direction: row;
}
.foot div{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.foot h1{
    margin-bottom: 40px;
}
a{
    text-decoration: none;
    margin-bottom: 20px;
}
a:hover{
    text-decoration: underline;
}